### NC Voting and Registration Data Analysis
- Data can be found here: https://www.ncsbe.gov/results-data

In [19]:
import pandas as pd
pd.set_option('float_format', '{:f}'.format)

In [4]:
history = pd.read_csv('data/ncvhis_Statewide.txt',sep='\t')
registration = pd.read_csv('data/ncvoter_Statewide.txt',sep='\t',encoding='unicode_escape',low_memory=False)

In [6]:
print(history.shape)
print(registration.shape)

(33867363, 15)
(8629236, 67)

In [12]:
history.county_desc.value_counts()

WAKE           3767745
MECKLENBURG    3617547
GUILFORD       1808081
DURHAM         1240143
FORSYTH        1151882
                ...
CAMDEN           35032
GATES            34579
GRAHAM           33614
HYDE             18934
TYRRELL          13553
Name: county_desc, Length: 100, dtype: int64

In [20]:
history.describe()

            county_id     voter_reg_num  voted_county_id
count 33867363.000000   33867363.000000  33867363.000000
mean        52.779050   72421896.311750        53.044864
std         27.730224  225556920.872876        27.692691
min          1.000000          0.000000         1.000000
25%         32.000000      75869.000000        32.000000
50%         55.000000     490792.000000        55.000000
75%         76.000000   30035708.000000        77.000000
max        100.000000 1000744428.000000       100.000000

In [21]:
registration.describe()

,county_id,voter_reg_num,zip_code,birth_year,age_at_year_end,cong_dist_abbrv,nc_senate_abbrv,nc_house_abbrv,dist_1_abbrv
count,8629236.000000,8629236.000000,7502495.000000,8629236.000000,8629236.000000,7351092.000000,7351092.000000,7351092.000000,7351092.000000
mean,52.808162,106167646.005207,27972.348447,1971.086513,50.913487,7.516999,25.730154,60.875000,21.401982
std,27.479700,271389235.030159,504.534308,19.970316,19.970316,4.040028,14.541266,34.873105,11.783261
min,1.000000,0.000000,0.000000,1801.000000,18.000000,1.000000,1.000000,1.000000,1.000000
25%,32.000000,138831.000000,27534.000000,1956.000000,34.000000,4.000000,13.000000,30.000000,10.000000
50%,55.000000,1469557.500000,28054.000000,1972.000000,50.000000,7.000000,26.000000,61.000000,24.000000
75%,76.000000,30318400.250000,28379.000000,1988.000000,66.000000,11.000000,38.000000,91.000000,31.000000
max,100.000000,1000744431.000000,37821.000000,2004.000000,221.000000,14.000000,50.000000,120.000000,43.000000